/* Write your CSS here */

.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculation-container {
  background-color: #382f5a;
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.name-container {
  display: flex;
}

.name-logo-container {
  background-color: #d4d2db;
  border-radius: 100px;
  color: #382f5a;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.name-logo {
  font-size: 20px;
  color: #382f5a;
  text-align: center;
}

.name {
  color: #d4d2db;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Roboto';
}

.your-balance-container {
  display: flex;
  justify-content: space-around;
}

.your-balance-title {
  color: #585076;
  font-size: 30px;
  font-family: 'Roboto';
  font-weight: 400;
}

.money {
  color: #d4d2db;
  font-size: 30px;
}

.in-rupees {
  color: #585076;
  font-size: 15px;
  font-family: 'Roboto';
}

.withdraw-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.withdraw {
  color: #d4d2db;
  font-size: 30px;
  font-weight: bold;
  font-family: 'Roboto';
}

.sum-rupees {
  color: #585076;
  font-size: 20px;
  font-family: 'Roboto';
}

.denomination-container {
  display: flex;
  flex: wrap;
}

.denomination-container {
  display: flex;
  flex: wrap;
}
